@import "tailwindcss";

body {
  @apply m-0 bg-zinc-100 text-zinc-900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
